<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/header::head">
  <title>Crear Producto</title>
</head>
<body>
<header th:replace="layouts/header::header"></header>
<div class="row mx-4">
  <div class="m-4 col-xs-8 col-md-8">
    <h2>Crear Producto</h2>
    <form th:action="@{/saveProduct}" method="post">
      <div class="form-group">
        <label>Nombre del producto:</label>
        <input type="text" class="form-control" name="prodName" />
      </div>
      <div class="form-group">
        <label>Precio</label>
        <input type="number" class="form-control" name="prodPrice" />
      </div>
      <div class="form-group">
        <label>Stock</label>
        <input type="number" class="form-control" name="prodStock" />
      </div>
      <div class="form-group">
        <label>Municipio</label>
          <select class="form-control pro" id="provin" name="provinId">
            <option th:each="provincia : ${provincias}" th:value="${provincia.getId()}" th:text="${provincia.getNombre()}"></option>
          </select>
          <select class="form-control" id="munis" name="prodMun" >
          </select>
      </div>
      <div class="form-group">
        <label>Sube el link:</label>
        <input type="text" class="form-control" name="prodImage" />
      </div>
      <button type="submit" class="btn btn-success">Guardar</button>
    </form>
  </div>
</div>
</body>
<script>
  const DOM = {
    selecCateg: document.getElementById('munis'),
    prov: document.getElementById("provin")
  }

      DOM.prov.addEventListener("change", changeMunicipio);

    function CleanPage(){
      let first = document.querySelectorAll('.muniDes');
      first.forEach(element => element.remove());
    }

    async function changeMunicipio(){
      let municipios = [];
      let id = DOM.prov.value;
      let url = "http://localhost:8080/VidicDaliborkaMiAli/products/municipiosFiltrados/"+id;
          await fetch(url)
          .then(response => response.json())
          .then(json => municipios = json)
          CleanPage()
          municipios.forEach(element => {
          optionR = document.createElement("option");
          optionR.setAttribute("class", "muniDes");
          optionR.value = element.id;
          optionR.textContent= element.nombre;
          DOM.selecCateg.appendChild(optionR);
         });
      }
</script>
</html>

