<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/header::head">
  <title>Editar Producto</title>
</head>
<body>
<div class="row mx-4">
  <div class="col-xs-8 col-md-8">
    <h3>
      <a href="/VidicDaliborkaMiAli/products" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list"></span>Productos</a>
    </h3>
    <h2>Editar Producto</h2>
    <form th:action="@{/updateProduct}" method="post">
      <div class="form-group">
        <label>Nombre de producto:</label>
        <input type="text" class="form-control" name="prodName" th:value="${prodName}" />
      </div>
      <div class="form-group">
        <label>Precio</label>
        <input type="number" class="form-control"  name="prodPrice" th:value="${prodPrice}" />
      </div>
      <div class="form-group">
        <label>Sube el link de la foto:</label>
        <input type="text" class="form-control" name="prodImage" th:value="${prodImage}" />
      </div>
      <div class="form-group">
        <label>Stock del producto</label>
        <input type="number" class="form-control" name="prodStock" th:value="${prodStock}" />
      </div>
      <input type="hidden" name="id" th:value="${product.getProductId()}" />
      <button type="submit" class="btn btn-success">Guardar</button>
    </form>
  </div>
</div>
</body>
</html>

